* {
  margin: 0;
  padding: 0;
}

body {
  background-color: snow;
}

.dogs {
  background-color: cadetblue;
  .heading {
    color: snow;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .dogs_set {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 10px;

    img {
      width: 300px;
      outline: 3px solid darkgrey;
    }
  }
}
